.box1{
  width: 200px;
  height: 200px;
  border: 1px solid red;
  padding: 35px;
  margin: 25px;
  box-sizing: content-box;

}

.box2{
  width: 200px;
  height: 200px;
  border-top: 1px solid black;
  border-bottom: 2px groove red;
  border-left: 3px dotted pink;
  border-right: 1px dashed green;
  padding: 25px;
  margin: 25px;
  box-sizing: border-box;
  border-radius: 50% ;
}

.box3{
  width: 200px;
  height: 200px;
  border: 1px groove pink;
  padding: 35px;
  margin: 20px;
  box-sizing: border-box;
  border-radius: 50%;
}